# Ignore enviroment
/myenv/
/__pycache__/

# Ignore result folder
/result/
/saved_choosen/
/saved_models/
/log/
/client_saved/

# Ignore data's folder
/dataset/
/dataset_split/
/face_dataset/
/face_dataset_split/

# Ignore custom
test.py
data_split.py